* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--hue: 223;
	--bg: hsl(var(--hue),10%,10%);
	--fg: hsl(var(--hue),10%,90%);
	--primary: hsl(var(--hue),90%,50%);
	--primary2: hsl(var(--hue),90%,70%);
	--primary2-t: hsla(var(--hue),90%,70%,0);
	--border: hsl(var(--hue),10%,30%);
	--border-hover: hsl(var(--hue),10%,50%);
	--trans-dur: 0.3s;
	--trans-timing: cubic-bezier(0.65,0,0.35,1);
	font-size: calc(14px + (70 - 14) * (100vw - 280px) / (3840 - 280));
}
body,
button {
	color: var(--fg);
	font: 1em/1.5 sans-serif;
	transition:
		background-color calc(var(--trans-dur) * 0.5) steps(1,end),
		box-shadow var(--trans-dur) var(--trans-timing),
		color calc(var(--trans-dur) * 0.5) steps(1,end);
}
body {
	background-color: var(--bg);
	display: flex;
	height: 100vh;
}
.plugs {
	background-color: transparent;
	border-radius: 0.375em;
	box-shadow:
		0 0 0 0.0625em var(--border),
		0 0 0 0.25em var(--primary2-t);
	cursor: pointer;
	display: block;
	margin: auto;
	outline: transparent;
	position: relative;
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;

	&:hover {
		box-shadow:
			0 0 0 0.0625em var(--border-hover),
			0 0 0 0.25em var(--primary2-t);
	}
	&:focus-visible {
		box-shadow:
			0 0 0 0.0625em var(--primary),
			0 0 0 0.25em var(--primary2);
	}
	&__img {
		display: block;
		position: relative;
		top: 0;
		left: 0;
		width: 16em;
		height: auto;

		&-left,
		&-left-seg,
		&-left-head,
		&-right,
		&-right-seg,
		&-right-head,
		&-prong,
		&-spark-1-x,
		&-spark-1-y,
		&-spark-2-x,
		&-spark-2-y,
		&-spark-3-x,
		&-spark-3-y {
			animation-duration: calc(var(--trans-dur) * 3);
			animation-timing-function: var(--trans-timing);
		}
		&-left,
		&-right {
			&-head {
				transform-origin: 2px 0;
			}
		}
		&-left {
			transform: translate(13px,10px) rotate(0);
		}
		&-right {
			transform: translate(57px,10px) rotate(0);
		}
		&-prong {
			stroke-dashoffset: 0;
		}
		&-spark-1-x,
		&-spark-2-x,
		&-spark-3-x {
			animation-timing-function: linear;
		}
		&-spark-1-y,
		&-spark-2-y,
		&-spark-3-y {
			animation-timing-function: cubic-bezier(0.35,1,0.65,1);
		}
	}
	&[aria-pressed="false"] &__img-left {
		animation-name: left-swing-tail-off;

		&-seg {
			animation-name: left-swing-seg-off;

			&--flip {
				animation-name: left-swing-seg-off-2;
			}
		}
		&-head {
			animation-name: left-swing-head-off;
		}
	}
	&[aria-pressed="false"] &__img-right {
		animation-name: right-swing-tail-off;

		&-seg {
			animation-name: right-swing-seg-off;

			&--flip {
				animation-name: right-swing-seg-off-2;
			}
		}
		&-head {
			animation-name: right-swing-head-off;
		}
	}
	&[aria-pressed="false"] &__img-prong {
		animation-name: prongs-off;
		animation-timing-function: cubic-bezier(0.35,0,0.65,0);
	}
	&[aria-pressed="false"] &__img-spark-1-x {
		animation-name: spark-1-x;
	}
	&[aria-pressed="false"] &__img-spark-1-y {
		animation-name: spark-1-y;	
	}
	&[aria-pressed="false"] &__img-spark-2-x {
		animation-name: spark-2-x;
	}
	&[aria-pressed="false"] &__img-spark-2-y {
		animation-name: spark-2-y;
	}
	&[aria-pressed="false"] &__img-spark-3-x {
		animation-name: spark-3-x;
	}
	&[aria-pressed="false"] &__img-spark-3-y {
		animation-name: spark-3-y;
	}
	&[aria-pressed="true"] &__img-left {
		animation-name: left-swing-tail-on;
		transform: translate(13px,10px) rotate(-90deg);

		&-seg {
			animation-name: left-swing-seg-on;

			&--flip {
				animation-name: right-swing-seg-on;
			}
		}
		&-head {
			animation-name: left-swing-head-on;
		}
	}
	&[aria-pressed="true"] &__img-right {
		animation-name: right-swing-tail-on;
		transform: translate(57px,10px) rotate(90deg);

		&-seg {
			animation-name: right-swing-seg-on;

			&--flip {
				animation-name: left-swing-seg-on;
			}
		}
		&-head {
			animation-name: right-swing-head-on;
		}
	}
	&[aria-pressed="true"] &__img-prong {
		animation-name: prongs-on;
		animation-timing-function: cubic-bezier(0.35,1,0.65,1);
		stroke-dashoffset: 2;
	}
	&__label {
		overflow: hidden;
		position: absolute;
		width: 0;
		height: 0;
	}
}
/* Dark theme */
[data-dark="false"] {
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
	--border: hsl(var(--hue),10%,70%);

	body,
	button {
		transition-duration:
			calc(var(--trans-dur) * 2.25),
			var(--trans-dur),
			calc(var(--trans-dur) * 2.25);
	}
}
/* Animations */
@keyframes prongs-off {
	from { stroke-dashoffset: 2; }
	17.5%,
	to { stroke-dashoffset: 0; }
}
@keyframes left-swing-tail-off {
	from { transform: translate(13px,10px) rotate(-90deg); }
	25% { transform: translate(13px,10px) rotate(-32deg); }
	50% { transform: translate(13px,10px) rotate(2deg); }
	75% { transform: translate(13px,10px) rotate(-1deg); }
	to { transform: translate(13px,10px) rotate(0); }
}
@keyframes left-swing-seg-off {
	from { transform: translate(0,1px) rotate(0); }
	25% { transform: translate(0,1px) rotate(-10deg); }
	50% { transform: translate(0,1px) rotate(2deg); }
	75% { transform: translate(0,1px) rotate(-1deg); }
	to { transform: translate(0,1px) rotate(0); }
}
@keyframes left-swing-seg-off-2 {
	from { transform: translate(0,1px) rotate(0); }
	25% { transform: translate(0,1px) rotate(10deg); }
	50% { transform: translate(0,1px) rotate(2deg); }
	75% { transform: translate(0,1px) rotate(-1deg); }
	to { transform: translate(0,1px) rotate(0); }
}
@keyframes left-swing-head-off {
	from { transform: translate(-2.5px,1px) rotate(0); }
	25% { transform: translate(-2.5px,1px) rotate(-10deg); }
	50% { transform: translate(-2.5px,1px) rotate(2deg); }
	75% { transform: translate(-2.5px,1px) rotate(-1deg); }
	to { transform: translate(-2.5px,1px) rotate(0); }
}
@keyframes right-swing-tail-off {
	from { transform: translate(57px,10px) rotate(90deg); }
	25% { transform: translate(57px,10px) rotate(32deg); }
	50% { transform: translate(57px,10px) rotate(-2deg); }
	75% { transform: translate(57px,10px) rotate(1deg); }
	to { transform: translate(57px,10px) rotate(0); }
}
@keyframes right-swing-seg-off {
	from { transform: translate(0,1px) rotate(0); }
	25% { transform: translate(0,1px) rotate(10deg); }
	50% { transform: translate(0,1px) rotate(-2deg); }
	75% { transform: translate(0,1px) rotate(1deg); }
	to { transform: translate(0,1px) rotate(0); }
}
@keyframes right-swing-seg-off-2 {
	from { transform: translate(0,1px) rotate(0); }
	25% { transform: translate(0,1px) rotate(-10deg); }
	50% { transform: translate(0,1px) rotate(-2deg); }
	75% { transform: translate(0,1px) rotate(1deg); }
	to { transform: translate(0,1px) rotate(0); }
}
@keyframes right-swing-head-off {
	from { transform: translate(-2.5px,1px) rotate(0); }
	25% { transform: translate(-2.5px,1px) rotate(10deg); }
	50% { transform: translate(-2.5px,1px) rotate(-2deg); }
	75% { transform: translate(-2.5px,1px) rotate(1deg); }
	to { transform: translate(-2.5px,1px) rotate(0); }
}
@keyframes prongs-on {
	from,
	70% { stroke-dashoffset: 0; }
	90%,
	to { stroke-dashoffset: 2; }
}
@keyframes left-swing-tail-on {
	from { transform: translate(13px,10px) rotate(0); }
	50% { transform: translate(13px,10px) rotate(-32deg); }
	to { transform: translate(13px,10px) rotate(-90deg); }
}
@keyframes left-swing-seg-on {
	from { transform: translate(0,1px) rotate(0); }
	50% { transform: translate(0,1px) rotate(-10deg); }
	to { transform: translate(0,1px) rotate(0); }
}
@keyframes left-swing-head-on {
	from { transform: translate(-2.5px,1px) rotate(0); }
	50% { transform: translate(-2.5px,1px) rotate(-10deg); }
	to { transform: translate(-2.5px,1px) rotate(0); }
}
@keyframes right-swing-tail-on {
	from { transform: translate(57px,10px) rotate(0); }
	50% { transform: translate(57px,10px) rotate(32deg); }
	to { transform: translate(57px,10px) rotate(90deg); }
}
@keyframes right-swing-seg-on {
	from { transform: translate(0,1px) rotate(0); }
	50% { transform: translate(0,1px) rotate(10deg); }
	to { transform: translate(0,1px) rotate(0); }
}
@keyframes right-swing-head-on {
	from { transform: translate(-2.5px,1px) rotate(0); }
	50% { transform: translate(-2.5px,1px) rotate(10deg); }
	to { transform: translate(-2.5px,1px) rotate(0); }
}
@keyframes spark-1-x {
	from,
	12.5% { r: 1px; transform: translate(0,0); }
	37.5%,
	to { r: 0; transform: translate(-10px,0); }
}
@keyframes spark-1-y {
	from {
		animation-timing-function: steps(1,end);
		transform: translate(0,0);
		visibility: hidden;
	}
	12.5% {
		animation-timing-function: linear;
		transform: translate(0,0);
		visibility: visible;
	}
	37.5%,
	to {
		transform: translate(0,-9px);
	}
}
@keyframes spark-2-x {
	from,
	12.5% { r: 1px; transform: translate(0,0); }
	37.5%,
	to { r: 0; transform: translate(4px,0); }
}
@keyframes spark-2-y {
	from {
		animation-timing-function: steps(1,end);
		transform: translate(0,0);
		visibility: hidden;
	}
	12.5% {
		animation-timing-function: linear;
		transform: translate(0,0);
		visibility: visible;
	}
	37.5%,
	to {
		transform: translate(0,-8px);
	}
}
@keyframes spark-3-x {
	from,
	12.5% { r: 1px; transform: translate(0,0); }
	37.5%,
	to { r: 0; transform: translate(-1px,0); }
}
@keyframes spark-3-y {
	from {
		animation-timing-function: steps(1,end);
		transform: translate(0,0);
		visibility: hidden;
	}
	12.5% {
		animation-timing-function: linear;
		transform: translate(0,0);
		visibility: visible;
	}
	37.5%,
	to {
		transform: translate(0,8px);
	}
}